<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     -------- ------------------------------- 1.3/6.0 MB 11.1 MB/s eta 0:00:01
     ----------------- ---------------------- 2.6/6.0 MB 8.4 MB/s eta 0:00:01
     -------------------------- ------------- 3.9/6.0 MB 7.5 MB/s eta 0:00:01
     -------------------------------------- - 5.8/6.0 MB 7.7 MB/s eta 0:00:01
     ---------------------------------------- 6.0/6.0 MB 7.5 MB/s  0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (pyproject.toml): started
  Building wheel for sqlalchemy (pyproject.toml): finished with status 'done'
  Created wheel for sqlalchemy: filename=sqlalchemy-1.3.9-cp313-cp313-win_amd64.whl size=1143040 sha256=4e717ef40a4190a08a2e1324c3d0ceb5da6bfb9a667f2cc27a0cdba711e2d4a5
  Stored in directory: c:\users\pauls\appdata\local\pip\cache\wheels\7f\0c\92\6ec5ca28eb22ed22341110143de753ec622045fbfc750edb26
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
!pip install ipython-sql
!pip install ipython-sql prettytable

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Requirement already satisfied: prettytable in c:\python313\lib\site-packages (from ipython-sql) (3.16.0)
Requirement already satisfied: ipython in c:\python313\lib\site-packages (from ipython-sql) (9.4.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading sqlalchemy-2.0.44-cp313-cp313-win_amd64.whl.metadata (9.8 kB)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.3-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in c:\python313\lib\site-packages (from ipython-sql) (1.17.0)
Collecting ipython-genutils (from ipython-sql)
  Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl.metadata (755 bytes)
Collecting greenlet>=1 (from sqlalchemy>=2.0->ipython-sql)
  Downloading greenlet-3.2.4-cp313-cp313-win_amd64.whl.metadata (4.2 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\python313\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.14.1)
Requirement already satisfied: colorama in c:\python313\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: decorator in c:\python313\lib\site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in c:\python313\lib\site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.16 in c:\python313\lib\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\python313\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\python313\lib\site-packages (from ipython->ipython-sql) (3.0.51)
Requirement already satisfied: pygments>=2.4.0 in c:\python313\lib\site-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: stack_data in c:\python313\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\python313\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in c:\python313\lib\site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\python313\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: executing>=1.2.0 in c:\python313\lib\site-packages (from stack_data->ipython->ipython-sql) (2.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\python313\lib\site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in c:\python313\lib\site-packages (from stack_data->ipython->ipython-sql) (0.2.3)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading sqlalchemy-2.0.44-cp313-cp313-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   --------- ------------------------------ 0.5/2.1 MB 3.6 MB/s eta 0:00:01
   ------------------- -------------------- 1.0/2.1 MB 2.5 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 4.2 MB/s  0:00:00
Downloading greenlet-3.2.4-cp313-cp313-win_amd64.whl (299 kB)
Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl (26 kB)
Downloading sqlparse-0.5.3-py3-none-any.whl (44 kB)
Installing collected packages: ipython-genutils, sqlparse, greenlet, sqlalchemy, ipython-sql

   ---------------------------------------- 0/5 [ipython-genutils]
   ---------------------------------------- 0/5 [ipython-genutils]
   -------- ------------------------------- 1/5 [sqlparse]
   -------- ------------------------------- 1/5 [sqlparse]
   -------- ------------------------------- 1/5 [sqlparse]
   ---------------- ----------------------- 2/5 [greenlet]
   ---------------- ----------------------- 2/5 [greenlet]
   ---------------- ----------------------- 2/5 [greenlet]
   ---------------- ----------------------- 2/5 [greenlet]
  Attempting uninstall: sqlalchemy
   ---------------- ----------------------- 2/5 [greenlet]
    Found existing installation: SQLAlchemy 1.3.9
   ---------------- ----------------------- 2/5 [greenlet]
    Uninstalling SQLAlchemy-1.3.9:
   ---------------- ----------------------- 2/5 [greenlet]
      Successfully uninstalled SQLAlchemy-1.3.9
   ---------------- ----------------------- 2/5 [greenlet]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ------------------------ --------------- 3/5 [sqlalchemy]
   ---------------------------------------- 5/5 [ipython-sql]

Successfully installed greenlet-3.2.4 ipython-genutils-0.2.0 ipython-sql-0.5.0 sqlalchemy-2.0.44 sqlparse-0.5.3
Requirement already satisfied: ipython-sql in c:\python313\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\python313\lib\site-packages (3.16.0)
Requirement already satisfied: ipython in c:\python313\lib\site-packages (from ipython-sql) (9.4.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\python313\lib\site-packages (from ipython-sql) (2.0.44)
Requirement already satisfied: sqlparse in c:\python313\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\python313\lib\site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in c:\python313\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\python313\lib\site-packages (from prettytable) (0.2.13)
Requirement already satisfied: greenlet>=1 in c:\python313\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\python313\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.14.1)
Requirement already satisfied: colorama in c:\python313\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: decorator in c:\python313\lib\site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in c:\python313\lib\site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.16 in c:\python313\lib\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\python313\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\python313\lib\site-packages (from ipython->ipython-sql) (3.0.51)
Requirement already satisfied: pygments>=2.4.0 in c:\python313\lib\site-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: stack_data in c:\python313\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\python313\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\python313\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: executing>=1.2.0 in c:\python313\lib\site-packages (from stack_data->ipython->ipython-sql) (2.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\python313\lib\site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in c:\python313\lib\site-packages (from stack_data->ipython->ipython-sql) (0.2.3)

In [3]:
%load_ext sql

In [4]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [5]:
!pip install -q pandas

In [6]:
%sql sqlite:///my_data1.db

In [7]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [8]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [11]:
%sql select * from SPACEXTABLE limit 1;

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')]

In [10]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [11]:
%sql select DISTINCT Launch_Site from SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [15]:
%sql select * from SPACEXTABLE where Launch_Site like 'CCA%' limit 5;

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [18]:
# %sql select DISTINCT Customer from SPACEXTABLE;
%sql select sum(PAYLOAD_MASS__KG_) from SPACEXTABLE where Customer='NASA (CRS)';

 * sqlite:///my_data1.db
Done.

[(45596,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [21]:
# %sql select DISTINCT Booster_Version from SPACEXTABLE;
%sql select AVG(PAYLOAD_MASS__KG_) from SPACEXTABLE where Booster_Version='F9 v1.1';

 * sqlite:///my_data1.db
Done.

[(2928.4,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [12]:
#%sql select DISTINCT Landing_Outcome from SPACEXTABLE;
# %sql select Date from SPACEXTABLE where Landing_Outcome='Success (ground pad)' ORDER BY Date ASC LIMIT 1;
%sql SELECT MIN(Date) as first_successful_ground_landing FROM SPACEXTABLE WHERE Landing_Outcome LIKE '%Ground Pad%' AND Landing_Outcome LIKE '%Success%';

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [28]:
#%sql select DISTINCT Landing_Outcome from SPACEXTABLE;
%sql select Booster_Version, Landing_Outcome, PAYLOAD_MASS__KG_ from SPACEXTABLE where Landing_Outcome='Success (drone ship)' AND PAYLOAD_MASS__KG_ > 4000 AND PAYLOAD_MASS__KG_ < 6000;

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022', 'Success (drone ship)', 4696),
 ('F9 FT B1026', 'Success (drone ship)', 4600),
 ('F9 FT  B1021.2', 'Success (drone ship)', 5300),
 ('F9 FT  B1031.2', 'Success (drone ship)', 5200)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [30]:
#%sql select DISTINCT Landing_Outcome from SPACEXTABLE;
%sql select count(*) from SPACEXTABLE where Landing_Outcome LIKE '%Success%' OR Landing_Outcome LIKE '%Failure%';

 * sqlite:///my_data1.db
Done.

[(71,)]

### Task 8



##### List all the booster_versions that have carried the maximum payload mass, using a subquery with a suitable aggregate function.

In [32]:
%sql select Booster_Version,PAYLOAD_MASS__KG_ from SPACEXTABLE where PAYLOAD_MASS__KG_=(Select MAX(PAYLOAD_MASS__KG_) from SPACEXTABLE);

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1060.2 ', 15600),
 ('F9 B5 B1058.3 ', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1060.3', 15600),
 ('F9 B5 B1049.7 ', 15600)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [36]:
#%sql select DISTINCT Landing_Outcome from SPACEXTABLE;
%sql select Date,substr(Date,6,2) as "Month", Landing_Outcome, Booster_Version,Launch_Site from SPACEXTABLE where Landing_Outcome='Failure (drone ship)' and substr(Date,0,5)='2015';

 * sqlite:///my_data1.db
Done.

[('2015-01-10', '01', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('2015-04-14', '04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [13]:
%%sql WITH outcome_counts AS (
  SELECT 
    Landing_Outcome,
    COUNT(*) as count
  FROM SPACEXTABLE
  WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
    AND Landing_Outcome IS NOT NULL
  GROUP BY Landing_Outcome
)
SELECT 
  Landing_Outcome,
  count,
  RANK() OVER (ORDER BY count DESC) as rank
FROM outcome_counts
ORDER BY count DESC;

 * sqlite:///my_data1.db
Done.

[('No attempt', 10, 1),
 ('Failure (drone ship)', 5, 2),
 ('Success (drone ship)', 5, 2),
 ('Controlled (ocean)', 3, 4),
 ('Success (ground pad)', 3, 4),
 ('Failure (parachute)', 2, 6),
 ('Uncontrolled (ocean)', 2, 6),
 ('Precluded (drone ship)', 1, 8)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>